*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

:root { 
 
font-size : 100% ; 
font-family : system-ui, sans-serif ; 
scroll-behavior : smooth ; 
 
} 

h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {  
font :  inherit ; 
line-height :  1.5em ; 
text-decoration :  none ; 
color : inherit ; 
overflow-wrap : break-word ; 
text-wrap : pretty ; 
}

body { 
letter-spacing: 0.02rem;
min-height : 100vh ; 
line-height : 1.5em ; 
 
color : inherit ; 
 
hyphens : auto ; 
 
font-smooth : always ; 
 
-webkit-font-smoothing : antialiased ; 
 
-moz-osx-font-smoothing : grayscale ; 
 
} 

ul {
  list-style-type: none;
}

/*header*/

.contenedor_header{
    width: 100%;
    /*background-color: aqua;*/
    min-height: 60px;
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

.header{
    /*background-color: antiquewhite;*/
    width: 90%;
  

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo{


}

.content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

    
}

.boton-menu{
    display: none;
}

@media(max-width:618px){
    .content{
        display: none;
    }
}

@media(max-width:618px){
    .boton-menu{
        display: block;
    }
}

@media(max-width:356px){
    .boton-menu{
        display: none;
    }
}


@media(max-width:618px){
    .logo{
        margin: 0 0 0 45%;
    }
}

/*caja*/

.wrapper{
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.wrapper .caja{
    max-width: 100%;
    min-height: 600px;
    /*background-color: brown;*/

    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.wrapper .amarillo{
    background-color: rgb(250, 199, 61);
    text-align: end;
}


.wrapper .caja .caja-img{
    background-color:blueviolet ;
    display: flex;

}
.wrapper .caja .caja-img .img{
    min-height: 300px;
    background-color: blue;
    width: 100%;
    display: block;
}

.wrapper .caja .caja-texto{
    min-height: 300px;
    /*background-color:rgb(192, 157, 224) ;*/

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 30px;
    margin: 0 20px 0 20px;
}
.wrapper .amarillo .caja-texto{
    order: -1;
}

.wrapper .caja .caja-texto .titulo{
    font-weight: 500;
    font-size: 1.4rem;
}
.wrapper .caja .caja-texto .parrafo{
    font-size: 0.8rem;
}
.wrapper .caja .caja-texto .boton{
    
    padding: .3rem;
    width: 9.375rem;
    font-size: 0.9rem;
    border: .0625rem solid orange;

    display: flex;
    justify-content: center;
}

.wrapper .amarillo .caja-texto .boton{
    border: .0625rem solid white;
   } 

@media(max-width:555px){
    .wrapper .caja{
        display: block;
    }
}

.wrapper .final{
    width: 100%;
    min-height: 600px;
    background-color: gray;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.wrapper .final .caja-logo{
    /*background-color: aqua;*/

      display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.wrapper .final .caja-logo .logo-grande{
    font-size: 4rem;
}
.wrapper .final .rrss{
    /*background-color: blueviolet;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


